
ion-card-header{
  text-align: center;

  }

.nazwa {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #0e467c;
}

.wlasna {
  font-family: "Oswald", sans-serif;
  font-weight: 900;
  color: #81c240;
  font-size: 2.5rem
}


